.container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .container {
        grid-template-columns: auto 1fr 22rem;
        grid-template-areas: "logo navlinks newsletter"
                             "sociallinks navlinks copyright";
        gap: none;
        column-gap: 3.88vw;
    }
}
@media screen and (min-width: 1280px) {
    .container {
        column-gap: 8.88vw;
    }
}