.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    column-gap: 2rem;
    width: 100%;
    margin-top: 3rem;
    padding: 0 0.5rem;
}
.socialIcon{
    width: 100%;
    height: auto;
}