.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnBurger {
    z-index: 10;
    cursor: default;
}
.btnNavbar {
    display: none !important;
}

@media screen and (min-width: 768px) {
    .burgerIcon {
        width: 2rem;
        height: auto;
    }
}
@media screen and (min-width: 1024px) {
    .btnBurger {
        display: none;
    }
    .btnNavbar {
        display: flex !important;
    }    
}