.container {
  position: relative;
  background: url("/images/bg-tablet-pattern.svg"), url("/images/bg-tablet-pattern.svg");
  background-size: 100%, 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: 22vw -1.5%, 64vw 16.5%;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  padding: 3rem 1.5rem;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: var(--color-Very-dark-blue);
  color: var(--color-very-light-gray);
  padding: 3rem 1.5rem 2rem 1.5rem;
}

@media screen and (min-width: 768px) {
  .container {
    background-size: 100%, 100%;
    background-position: 22vw -4%, 68vw 16.5%;
  }
  .header {
    padding: 6.14vh var(--side-space-tablet1);
    gap: 5rem;
  }
  .footer {
    padding: 4rem var(--side-space-tablet1) 3rem var(--side-space-tablet1);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    background-size: 54%, 54%;
    background-repeat: no-repeat, no-repeat;
    background-position: 56.5vw -7%, -33.5vw 56%;
  }
  .header {
    padding: 8.14vh var(--side-space-desktop) 0 var(--side-space-desktop);
    gap: 8vh;
  }
  .main {
    padding-top: var(--between-space-desktop);
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footer {
    padding: 5rem var(--side-space-desktop);
  }
}
@media screen and (min-width: 1440px) {
  .header {
    gap: 10vh;
  }
}