.btnWithShadow, .btnWhite {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.84rem;
    font-weight: 600;
    height: 2.6rem;
    width: 8rem;
    border: none;
    border-radius: 1.3rem;
    cursor: pointer;
}
.btnWithShadow {
    box-shadow: 0px 8px 10px var(--color-bright-red-transparent);
    background-color: var(--color-bright-red);
    color: var(--color-very-light-gray);
}
.btnWhite {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--color-very-light-gray);
    color: var(--color-bright-red);
}
.btnWithShadow::before, .btnWhite::before {
    display: none;
    z-index: 2;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-radius: 1.3rem;
    background-color: var(--color-very-light-gray);
    opacity: 0.4;
}
.btnWithShadow:hover::before, .btnWhite:hover::before {
    display: block;
}
.headingLg {
    font-size: 2.2rem;
    font-weight: 700;
}
.fontColorWhite {
    color: var(--color-very-light-gray);
}
.headingMd {
    font-size: 1.98rem;
    font-weight: 600;
}
.headingWhite {
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--color-very-light-gray);
}
.textBlock{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.8rem;
}
.alignCenter {
    text-align: center;
}
.textSm {
    font-size: 0.98rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: var(--color-dark-grayish-blue);
}
.navLinksFooter {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, 1fr);
    justify-content: space-between;
    margin-top: 3rem;
    padding: 0 1.5rem;
    row-gap: 1rem;
    font-size: 0.9rem;
    width: 100%;
}
.navLinksFooter a{
    color: #dad8d8;
    font-weight: 400;
}
.navLinksFooter a:hover {
    color: var(--color-bright-red);
}
.navLinksHeader {
    list-style: none;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.1rem;
    padding: 2rem 0;
    background-color: var(--color-very-light-gray);
    border-radius: 0.2rem;
    font-size: 1rem;
}
.navLinksHeader a{
    color: var(--color-dark-blue);
    font-weight: 600;
}
.navLinksHeader a:hover {
    opacity: 0.4;
}

.btnAlertBox {
    color: var(--color-very-light-gray);
    background-color: var(--color-bright-red);
}

@media screen and (min-width: 768px) {
    .logo {
        height: auto;
        width: 30vw;
    }
    .textBlock {
        gap: 2.5rem;
    }
    .headingLg {
        font-size: 3.8rem;
    }
    .headingMd {
        font-size: 3.6rem;
    }
    .headingWhite {
        font-size: 3.6rem;
    }
    .textSm {
        font-size: 1.8rem;
        line-height: 2rem;
    }
    .btnWithShadow, .btnWhite {
        width: 14rem;
        height: 3.8rem;
        border-radius: 1.9rem;
        font-size: 1.1rem;
    }
    .btnWithShadow::before, .btnWhite::before {
        border-radius: 1.9rem;
    }
    .navLinksFooter {
        margin-top: 4rem;
        row-gap: 2rem;
        font-size: 1.4rem;
        padding: 0 var(--side-space-tablet1);
    }
    .navLinksHeader {
        font-size: 1.5rem;
        gap: 3rem;
        padding: 4rem 0;
    }
}

@media screen and (min-width: 1024px) {
    .navLinksHeader {
        background-color: transparent;
        flex-direction: row;
        font-size: 0.9rem;
        padding: 0;
        gap: 1.4rem;
    }
    .textBlock {
        text-align: left;
        gap: 2rem;
    }
    .headingLg {
        font-size: 4.2vw;
    }
    .headingMd {
        font-size: 3vw;
    }
    .headingWhite {
        font-size: 3vw;
    }
    .textSm {
        font-size: 1.32vw;
        line-height: 2rem;
    }
    .textDescription {
        width: 28.33vw;
    }
    .navLinksFooter {
        grid-area: navlinks;
        row-gap: 3.42vh;
        padding: 0;
        margin: 0;
        font-size: 1rem;
    }
    .btnWithShadow, .btnWhite {
        width: 11.11vw;
        height: 7vh;
        border-radius: 3.5vh;
        font-size: 1.2vw;
    }
    .btnWithShadow::before, .btnWhite::before {
        border-radius: 3.5vh;
    }
    .logo {
        height: 2rem;
        width: auto;
    }
}