.btnWithShadow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.84rem;
    font-weight: 600;
    height: 2.6rem;
    width: 8rem;
    border: none;
    border-radius: 1.3rem;
    box-shadow: 0px 8px 10px var(--color-bright-red-transparent);
    background-color: var(--color-bright-red);
    color: var(--color-very-light-gray);
}
.btnWhite {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.84rem;
    font-weight: 600;
    height: 2.6rem;
    width: 8rem;
    border: none;
    border-radius: 1.3rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--color-very-light-gray);
    color: var(--color-bright-red);
}
.headingLg {
    font-size: 2.2rem;
    font-weight: 700;
}
.fontColorWhite {
    color: var(--color-very-light-gray);
}
.headingMd {
    font-size: 1.98rem;
    font-weight: 600;
}
.headingWhite {
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--color-very-light-gray);
}
.textBlock{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.8rem;
}
.alignCenter {
    text-align: center;
}
.textSm {
    font-size: 0.98rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: var(--color-dark-grayish-blue);
}
.navLinksFooter {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, 1fr);
    justify-content: space-between;
    margin-top: 3rem;
    padding: 0 1.5rem;
    row-gap: 1rem;
    font-size: 0.9rem;
    width: 100%;
}
.navLinksFooter a{
    color: var(--color-very-light-gray);
    font-weight: 400;
}
.navLinksHeader {
    list-style: none;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.1rem;
    padding: 2rem 0;
    background-color: var(--color-very-light-gray);
    border-radius: 0.2rem;
    font-size: 1rem;
}
.navLinksHeader a{
    color: var(--color-dark-blue);
    font-weight: 600;
}

@media screen and (min-width: 1024px) {
    .navLinksHeader {
        background-color: transparent;
        flex-direction: row;
        font-size: 0.9rem;
        padding: 0;
        gap: 1.4rem;
    }
    .textBlock {
        text-align: left;
        gap: 2rem;
    }
    .headingLg {
        font-size: 3.8rem;
    }
    .headingMd {
        font-size: 2.5rem;
    }
    .headingWhite {
        font-size: 2.5rem;
    }
    .textSm {
        font-size: 1.2rem;
        line-height: 2rem;
    }
    .textDescription {
        width: 25.5rem;
    }
    .navLinksFooter {
        grid-area: navlinks;
        row-gap: 1.5rem;
        padding: 0;
        margin: 0;
        font-size: 1rem;
    }
    .btnWithShadow {
        width: 10rem;
        height: 3.2rem;
        border-radius: 1.6rem;
        font-size: 0.98rem;
    }
    .btnWhite {
        width: 10rem;
        height: 3.2rem;
        border-radius: 1.6rem;
        font-size: 0.98rem;
    }
    .logo {
        height: 2rem;
        width: auto;
    }
}